<%= form_with(model: @user_book, local: true) do |form| %>
  <div class="field">
    <%= form.label :user_id, 'Select User' %>
    <%= form.collection_select :user_id, User.all, :id, :username, prompt: 'Choose a user' %>
  </div>

  <div class="field">
    <%= form.label :book_id, 'Select Book' %>
    <%= form.collection_select :book_id, Book.all, :id, :title, prompt: 'Choose a book' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create User Book' %>
  </div>
<% end %>
